<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="form-group" ng-submit="userCntrl.searchFriend()">
        <label class="control-label">Search Friends</label>
        <div class="input-group">
          <span class="input-group-addon">Name</span>
          <input type="text" class="form-control" ng-model="userCntrl.searchName">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
          </span>
        </div>
      </form>
      <div class="list-group">  
        <div class="list-group-item" ng-show="userCntrl.searchClicked">
            <span class="friend-list-item">{{ userCntrl.searchUser.get("username") }}</span>
            <button class="btn btn-success vcenter pull-right" ng-click="userCntrl.addFriend(userCntrl.searchUser)">Add Friend</button>
        </div> 
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Friends in your list</h3>
        </div>
        <div class="panel-body list-group"> 
          <a class="list-group-item" ng-repeat="friend in userCntrl.friends()">{{ userCntrl.getFriendName(friend) }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
