<!DOCTYPE html>
<html ng-app="Xpens-Track">
<head>
  <!-- <script type="text/javascript" src="app/js/src/pace.min.js"></script> -->
  <!-- <link rel="stylesheet" type="text/css" href="app/css/src/pace.css"> -->
  <title></title>
  <link rel="stylesheet" type="text/css" href="/bower_components/bootswatch/flatly/bootstrap.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
  <script type="text/javascript" src="app/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="app/css/main.css">
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse" ng-controller="UserController as userCntrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Xpens-Track</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav navbar-right" ng-show="userCntrl.loggedIn()">
            <li><a ui-sref="home">Expenses</a></li>
            <li><a ui-sref="expenses">My Share</a></li>
            <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userCntrl.username()}} <span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
               <li><a href="#">Profile</a></li>
               <li><a href="#">Settings</a></li>
               <li class="divider"></li>
               <li><a href="#" ng-click="userCntrl.logout()">Logout</a></li>
             </ul>
           </li>
          </ul>
          <ul class="nav navbar-nav navbar-right" ng-hide="userCntrl.loggedIn()">
  					<li class="dropdown">
  						<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Sign In<span class="caret"></span></a>
  						<div class="dropdown-menu" role="menu" style="padding: 15px; padding-bottom: 0px;">
  							<form class="form-horizontal" accept-charset="UTF-8" ng-submit="userCntrl.login()">
  								<input class="form-control sign-in-dropdown" type="text" placeholder="Username" id="username" name="username" ng-model="userCntrl.loginusername">
  								<input class="form-control sign-in-dropdown" type="password" placeholder="Password" id="password" name="password" ng-model="userCntrl.loginpassword">
              		<input class="btn btn-primary btn-block sign-in-dropdown" type="submit" id="sign-in" value="Sign In">
  							</form>
  						</div>
  					</li>
  				</ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container" ui-view></div>
</body>
</html>
